{erl_opts, [debug_info]}.
{deps, [{cowboy, "2.10.0"}, {jiffy, "1.1.1"}]}.

{shell, [
    {config, "config/shell.config"},
    {apps, [braidcert]}
]}.

{profiles, [
  {container, [
      {relx, [
          {release, {braidcert, "0.1.0"}, [braidcert]},
          {mode, prod},
          {sys_config_src, "./config/container.config.src"}
      ]}
  ]}
]}.
